.gridContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 20px;
}

.recentsContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.recentHeading {
	font-size: 18px;
	font-weight: 600;
}

.recentModals {
	display: flex;
	align-items: center;
	gap: 50px;
}

.all-forms {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.all-forms-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 50px;
	row-gap: 30px;
}

.bottom-svg {
	position: fixed;
	bottom: -20%;
	z-index: -1;
	width: 100%;
	height: auto;
}
