:root {
	--primary: #fc0707;
	--grey-text: #9fa2b4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	font-family: "Roboto", sans-serif;
}
